migrations
node_modules
.vscode
.next
.temp


# misc
.env
.gitignore
next-env.d.ts
tsconfig.json
tailwind.config.js
postcss.config.js
package-lock.json
esling.config.mjs
next.config.js
jest.config.js

# typescript
*.tsbuildinfo


# prisma
*.db

#
/public/uploads/*

# pastas



